{% extends 'app.html' %}
{% block title %}Page Not Found - DAP | Payment made safer{% endblock %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="Page Not Found - DAP | Payment made safer">
<meta name="description" content="DAP Page Not Found">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dap.ng{{ request.path }}">
<meta property="og:title" content="Page Not Found - DAP | Payment made safer">
<meta property="og:description" content="DAP Page Not Found">
<meta property="og:image" content="/static/img/dap-logo-2.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dap.ng{{ request.path }}">
<meta property="twitter:title" content="Page Not Found - DAP | Payment made safer">
<meta property="twitter:description" content="DAP Page Not Found">
<meta property="twitter:image" content="/static/img/dap-logo-2.svg">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3Z6WXZ1J8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N3Z6WXZ1J8');
</script>
{% endblock %}
{% block body %}

<div class="main">

    <!--404 section start-->
    <section class="ptb-100 bg-image full-height" image-overlay="8">
        <div class="background-image-wraper" style="background: url('/static/img/group17.1.png'); opacity: 0;"></div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-9 col-lg-7">
                    <div class="error-content-wrap text-center text-white">
                        <div class="notfound-404">
                            <h1 class="text-white">404</h1>
                        </div>
                        <h2 class="text-white">Sorry, something went wrong</h2>
                        <p class="lead">The page you are looking for might have been removed had its name changed or is
                            temporarily
                            unavailable.</p><a class="btn btn-brand-03" href="{% url 'home' %}">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--404 section end-->
</div>
{% endblock %}