{% extends 'app.html' %}
{% block title %}About Us - DAP | Payment made safer{% endblock %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="About Us - DAP | Payment made safer">
<meta name="description"
    content="Learn More About DAP">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dap.ng{{ request.path }}">
<meta property="og:title" content="About Us - DAP | Payment made safer">
<meta property="og:description"
    content="Learn More About DAP">
<meta property="og:image" content="/static/img/dap-logo-2.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dap.ng{{ request.path }}">
<meta property="twitter:title" content="About Us - DAP | Payment made safer">
<meta property="twitter:description"
    content="Learn More About DAP">
<meta property="twitter:image" content="/static/img/dap-logo-2.svg">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3Z6WXZ1J8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N3Z6WXZ1J8');
</script>
{% endblock %}
{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="7">
    <div class="background-image-wraper" style="background: url('/static/img/group17.1.png');"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-dark pt-4">
                    <h1 class="text-dark mb-0">About Us</h1>
                    <p class="lead">How we empower SME’s growth and make Digital Payment Trusted, Fast, and Secure.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">About us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<!--about us section start-->
<div class="overflow-hidden">
    <!--about us section start-->
    <section id="about" class="position-relative overflow-hidden feature-section ptb-100  ">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-12 col-lg-6">
                    <div class="feature-contents section-heading">
                        <h2>Building DAP (Delivered as Promised) for Africa</h2>
                        <p>
                            DAP is a technology built to restore trust, enhance digital experience, and accelerate
                            Africa’s transition to secured digital financing. We are creating an ecosystem where buyers
                            can make purchases from absolute strangers with confidence, a seller/service provider can
                            sell/provide services with the assurance that they will surely get paid.
                        </p>
                        <p class="text-dark">
                            Our payment gateway makes it possible for businesses to transact confidently without fear of
                            financial …..
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="mask-image">
                        <img src=/static/img/about1.jpg class="img-fluid" alt="about">
                        <div class="item-icon video-promo-content">
                            <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
                                class="popup-youtube video-play-icon text-center m-auto"><span
                                    class="ti-control-play"></span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about us section end-->
</div>
<!--about us section end-->

<section class="review-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="single-review-wrap p-4 my-3">
                    <div class="review-top d-flex align-items-center justify-content-between mb-2">
                        <span><i class="fas fa-quote-left icon-size-sm color-secondary"></i></span>
                    </div>
                    <div class="review-body">
                        <h5>Our Story</h5>
                        <p class="text-center">
                            DAP was started in (year) by 4 friends, to tackle the problem of “what I ordered vs What I
                            got”. This is a prevalent problem in the digital transaction space. We decided to solve this
                            problem by helping businesses DAP (Deliver As promised), by building into our fintech
                            technology an escrow management system that secures buyers and sellers and bringing back
                            trust in the E-commerce space.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--video section with counter start-->
<section class="review-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-review-wrap p-4 my-3">
                    <div class="review-top d-flex align-items-center justify-content-between mb-2">
                        <span><i class="fas fa-quote-left icon-size-sm color-secondary"></i></span>
                    </div>
                    <div class="review-body">
                        <h5>Our Vision</h5>
                        <p>
                            DAP vision is to enhance digital experience and accelerate African’s transition to secured
                            financing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-review-wrap p-4 my-3">
                    <div class="review-top d-flex align-items-center justify-content-between mb-2">
                        <span><i class="fas fa-quote-left icon-size-sm color-secondary"></i></span>
                    </div>
                    <div class="review-body">
                        <h5>Our Mission</h5>
                        <p>
                            Our mission is to Make Digital Payments Trusted, fast and Secure for everyone doing business
                            within and outside Africa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-review-wrap p-4 my-3">
                    <div class="review-top d-flex align-items-center justify-content-between mb-2">
                        <span><i class="fas fa-quote-left icon-size-sm color-secondary"></i></span>
                    </div>
                    <div class="review-body">
                        <h5>Our Values</h5>
                        <p>
                            DAP vision is to enhance digital experience and accelerate African’s transition to secured
                            financing.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--video section with counter end-->

<!-- <section class="client-section  ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-heading text-center mb-5">
                    <h2>Our Valuable Partners</h2>
                    <p>
                        Rapidiously morph transparent internal or sources whereas resource sucking e-business. Conveniently innovate compelling internal.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme clients-carousel dot-indicator">
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-01.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-02.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-03.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-04.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-05.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-06.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-07.png" alt="client logo" class="customer-logo">
                    </div>
                    <div class="item single-customer">
                        <img src="/static/img/customers/clients-logo-08.png" alt="client logo" class="customer-logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}