{% extends 'app.html' %}

{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="8">
    <div class="background-image-wraper" style="background: url('/static/img/slider-bg-1.jpg'); opacity: 1;"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-white pt-4">
                    <h1 class="text-white mb-0">Blogs</h1>
                    <p class="lead">Rapidiously deploy world-class platforms whereas collaborative interfaces. Phosfluorescently facilitate corporate innovation via excellent web <services></services> technically sound. </p>
                </div>
            </div>

        
            
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Blogs</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<!--blog section start-->
<section class="our-blog-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/1.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Appropriately productize fully</a></h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk.</p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/2.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Quickly formulate backend</a></h3>
                        <p class="card-text">Synergistically engage effective ROI after customer directed
                            partnerships.</p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/3.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Objectively extend extensive</a></h3>
                        <p class="card-text">Holisticly mesh open-source leadership rather than proactive
                            users. </p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/4.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Objectively extend extensive</a></h3>
                        <p class="card-text">Holisticly mesh open-source leadership rather than proactive
                            users. </p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/5.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Objectively extend extensive</a></h3>
                        <p class="card-text">Holisticly mesh open-source leadership rather than proactive
                            users. </p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single-blog-card card gray-light-bg border-0 shadow-sm my-3">
                    <div class="blog-img position-relative">
                        <img src="/static/img/blog/6.jpg" class="card-img-top" alt="blog">
                        <div class="meta-date">
                            <strong>24</strong>
                            <small>Apr</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="post-meta mb-2">
                            <ul class="list-inline meta-list">
                                <li class="list-inline-item"><i class="fas fa-heart mr-2"></i><span>45</span>
                                    Comments
                                </li>
                                <li class="list-inline-item"><i class="fas fa-share-alt mr-2"></i><span>10</span>
                                    Share
                                </li>
                            </ul>
                        </div>
                        <h3 class="h5 mb-2 card-title"><a href="#">Objectively extend extensive</a></h3>
                        <p class="card-text">Holisticly mesh open-source leadership rather than proactive
                            users. </p>
                        <a href="#" class="detail-link">Read more <span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <!--pagination start-->
        <div class="row">
            <div class="col-md-12">
                <nav class="custom-pagination-nav mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-left"></span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--pagination end-->

    </div>
</section>
<!--blog section end-->
{% endblock %}
