{% extends 'app.html' %}
{% block title %}FAQs - DAP | Payment made safer{% endblock %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="FAQs - DAP | Payment made safer">
<meta name="description"
    content="Frequently Asked Questions on DAP">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dap.ng{{ request.path }}">
<meta property="og:title" content="FAQs - DAP | Payment made safer">
<meta property="og:description"
    content="Frequently Asked Questions on DAP">
<meta property="og:image" content="/static/img/dap-logo-2.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dap.ng{{ request.path }}">
<meta property="twitter:title" content="FAQs - DAP | Payment made safer">
<meta property="twitter:description"
    content="Frequently Asked Questions on DAP">
<meta property="twitter:image" content="/static/img/dap-logo-2.svg">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3Z6WXZ1J8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N3Z6WXZ1J8');
</script>
{% endblock %}
{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="7">
    <div class="background-image-wraper" style="background: url('/static/img/group17.1.png');"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-dark pt-4">
                    <h1 class="text-dark mb-0">FAQ</h1>
                    <p class="lead">Rapidiously deploy world-class platforms whereas collaborative interfaces.
                        Phosfluorescently facilitate corporate innovation via excellent web <services></services>
                        technically sound. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Faq</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<section class="ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading mb-3 text-center">
                    <h2>Frequently Asked Questions</h2>
                    <p class="lead">
                        Quickly morph client-centric results through performance based applications. Proactively
                        facilitate professional human capital for cutting-edge.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> How can I pay for this?</h5>
                    <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions.
                        Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than
                        process-centric.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Is it possible to pay yearly?</h5>
                    <p>Assertively iterate user friendly innovation without open-source markets. Monotonectally extend
                        resource sucking without high-payoff paradigms. Objectively customize sound relationships. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Do you offer discounts on multiple items?</h5>
                    <p>Dramatically target focused testing procedures after holistic ideas. Collaboratively maximize
                        high-payoff ROI and value-added products. Distinctively deliver cooperative whereas customized
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Is VAT included in plan prices?</h5>
                    <p>Distinctively simplify high-quality initiatives for highly efficient applications. Monotonectally
                        repurpose integrated customer service after magnetic e-services matrix exceptional results. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Will I pay more for some features?</h5>
                    <p>Enthusiastically pontificate resource-leveling supply chains whereas scalable markets.
                        Authoritatively streamline resource Continually re-engineer ethical niches re-engineer ethical
                        niches with real-time e-tailers.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Why are there no limits on the number of messages?</h5>
                    <p>Assertively target turnkey ideas for market-driven portals.Continually re-engineer ethical niches
                        with real-time e-tailers
                        intellectual capital whereas 2.0 mindshare cultivate prospective process improvements .</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}