{% extends 'app.html' %}
{% block title %}FAQs - DAP | Payment made safer{% endblock %}
{% block meta %}
<!-- Primary Meta Tags -->
<meta name="title" content="FAQs - DAP | Payment made safer">
<meta name="description"
    content="Frequently Asked Questions on DAP">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://dap.ng{{ request.path }}">
<meta property="og:title" content="FAQs - DAP | Payment made safer">
<meta property="og:description"
    content="Frequently Asked Questions on DAP">
<meta property="og:image" content="/static/img/dap-logo-2.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://dap.ng{{ request.path }}">
<meta property="twitter:title" content="FAQs - DAP | Payment made safer">
<meta property="twitter:description"
    content="Frequently Asked Questions on DAP">
<meta property="twitter:image" content="/static/img/dap-logo-2.svg">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N3Z6WXZ1J8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N3Z6WXZ1J8');
</script>
{% endblock %}
{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="7">
    <div class="background-image-wraper" style="background: url('/static/img/group17.1.png');"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-dark pt-4">
                    <h1 class="text-dark mb-0">FAQ</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Faq</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<section class="ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading mb-3 text-center">
                    <h2>Frequently Asked Questions</h2>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What is DAP?</h5>
                    <p>
                        DAP is a digital payment system that ensures payment security for parties involved in a transaction. With DAP, you can send money with confidence and receive payment with assurance.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What does DAP offer?</h5>
                    <p>
                        The “DAP safe mode” and “DAP artisan” feature.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What is “DAP safe mode”?</h5>
                    <p>
                        “DAP safe mode” provides payment security for the transacting parties and ensure that both parties are protected at all stages of a transaction.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> How does DAP safe mode works?</h5>
                    <p>
                        DAP offers each user two (2) wallets; the Available wallet and Pending wallet. “DAP safe mode” allows you control your money, even after you’ve sent it. This means that even though you can send money directly to a DAP user wallet or bank account, “DAP safe mode” allows you to fix a released date for money sent. If a release date is not fixed, DAP will automatically release the money in 24 hours. A money sent but 
                         NOT released remains in the recipient PENDING BALANCE. When released, it goes to AVAILABLE BALANCE. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Who holds the money sent?</h5>
                    <p>
                        The recipient holds the money. Money sent but NOT released remains in the recipient PENDING BALANCE. When released, it goes to AVAILABLE BALANCE. Only money in AVAILABLE BALANCE is accessible to the recipient.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Does the sender have access to the money sent?</h5>
                    <p>
                        The money sent but not released is in the recipient pending balance and it is neither available to the sender nor the recipient except when released or through the intervention of our support. 
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What is DAP artisan?</h5>
                    <p>
                        DAP artisan seamlessly connect householders with nearby artisans while also processing every payment involved in their transaction.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> When can I use DAP?</h5>
                    <p>
                        DAP is designed to give peace of mind either when you are in need of the service of an artisan or whenever you are in doubt about doing business with someone you don’t know. It is totally up to you.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Who can use DAP?</h5>
                    <p>
                        DAP can be used by individuals for peer to peer transactions and businesses that need payment security for their transactions. Businesses like Marketplace platforms who cater to two sets of users (Buyers and Sellers) can also use DAP to facilitate trust between transacting parties on their platform.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> How can I use DAP?</h5>
                    <p>
                        DAP can be used in different ways, depending on your need. Individuals can sign up and use DAP for the following:
                        <ul>
                            <li>Peer-peer transactions </li>
                            <li>Payment of utility bills </li>
                            <li>Connect with artisans </li>
                            <li>Request money and Create vouchers, etc. </li>
                        </ul>
                        Similarly, businesses can choose from a number of options such as:
                        <ul>
                            <li>Integration DAP on their business platforms for payment processing. </li>
                            <li>Payment scheduling. </li>
                        </ul>

                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What if there is a dispute?</h5>
                    <p>
                        Should a dispute arise over the course of a transaction, each user can raise a call for dispute resolution. If the dispute cannot be resolved mutually by the parties involved, DAP arbitration system comes in for fair and prompt resolution. While a transaction is in dispute, the funds remain inaccessible to none of the parties until the dispute has been resolved.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What is DAP process?</h5>
                    <p>
                        DAP reduces the risk of fraud and insecurities involved in online transactions by providing a safe platform for payment processing. 
                        <ul>
                            <li><b>Buyer and Seller agree to terms</b> – Both the buyer and seller agree on the terms of their transaction together with how long they want the transaction to last.</li>
                            <li><b>Buyer set a released date based on the agreed terms </b> - The Buyer‘s fund is sent to the seller’s pending wallet. If no date is set, DAP uses 24 hours.</li>
                            <li><b>Seller delivers services/merchandise </b> - The Seller delivers services/merchandise, based on the transaction agreement within the stipulated time.</li>
                            <li><b>Funds is released to the Seller</b> – DAP automatically release fund to the Seller and the fund is made available for withdrawal.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> Can the release date be rescheduled?</h5>
                    <p>
                        Yes, it can, provided a reason was stated and no dispute was raised by the potential recipient.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What are our charges?</h5>
                    <p>
                        DAP is free, including the “DAP safe mode” and DAP artisan. However, the following charges apply on utilities and DAP integration on business platforms as a payment processor.
                        <table>
                            <thead>
                                <th><b>S/N</b></th>
                                <th><b>Features</b></th>
                                <th><b>Fees (₦)</b></th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    Inter-bank transfer
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <td>
                                    Utility bills
                                    <ul style="list-style:disc; margin-left: 10%;">
                                        <li>Data</li>
                                        <li>Airtime</li>
                                        <li>Internet subscription</li>
                                    </ul>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    Advertisement
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    DAP payment processor
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single-faq mt-3">
                    <h5><span class="color-primary">Q.</span> What happens if neither of the party raise a dispute until the release date elapse?</h5>
                    <p>
                        The payment is released to the potential recipient as stipulated.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}