<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="/static/soon/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="/static/soon/css/animate.min.css">
        <!-- FontAwesome Min CSS -->
        <link rel="stylesheet" href="/static/soon/css/fontawesome.min.css">
        <!-- Style Min CSS -->
        <link rel="stylesheet" href="/static/soon/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/static/soon/css/responsive.css">

        <title>DAP - Coming Soon</title>

        <link rel="icon" type="image/png" href="/static/img/dap-logo-2.svg">
    </head>

    <body>

        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
        </div>
        <!-- End Preloader -->

        <!-- Navbar Area -->
        <div class="navbar-area">
            <div class="container">
                <div class="navbar-menu">
                    <div class="row align-items-center">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="logo">
                                <a href="/"><img src="/static/img/logo.png"alt="image"></a>
                            </div>
                        </div>

                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="burger-menu" title="See More...">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        
        <!-- Start Main Banner -->
        <div class="main-banner">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-12">
                                <div class="main-banner-content">
                                    <div id="timer">
                                        <div id="days"></div>
                                        <div id="hours"></div>
                                        <div id="minutes"></div>
                                        <div id="seconds"></div>
                                    </div>

                                    <h1 align="center">We are launching DAP soon</h1>
                                    <p>
                                        <b>DAP</b> is a payment system saddled with the responsibility of bringing back confidence to the online  market space. 
                                        It not only provides transaction security across various platforms to both business owners  and online shoppers, 
                                        it ensures that customer satisfaction is achieved at the end of every trade. 
                                        With its  full meaning as “Delivered as Promised”, 
                                        it completely protects every user from being scammed irrespective of the transaction – purchase or sales – 
                                        performed online or face to face.
                                    </p>

                                    <form class="newsletter-form" data-toggle="validator">
                                        <input type="email" class="input-newsletter" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
                    
                                        <button type="submit">Notify Us</button>
                                        <div id="validator-newsletter" class="form-result"></div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12">
                                <div class="main-banner-image">
                                    <img src="/static/img/10.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer-area">
                <div class="container">
                    <ul>
                        <li><span>Stay Connected:</span></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></i></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- End Main Banner -->

        <!-- Sidebar Modal -->
        <div class="sidebar-modal">
            <div class="sidebar-modal-inner">
                <div class="about-area">
                    <div class="title">
                        <h2>About Us</h2>
                        <p>
                            <b>DAP</b> is a payment system saddled with the responsibility of bringing back confidence to the online  market space. 
                                        It not only provides transaction security across various platforms to both business owners  and online shoppers, 
                                        it ensures that customer satisfaction is achieved at the end of every trade. 
                                        With its  full meaning as “Delivered as Promised”, 
                                        it completely protects every user from being scammed irrespective of the transaction – purchase or sales – 
                                        performed online or face to face.
                        </p>

                    </div>
                </div><br/>


                <div class="contact-area">
                    <div class="title">
                        <h2>Contact Us</h2>
                    </div>

                    <div class="contact-form">
                        <form id="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Your Message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>

                            <button type="submit">Send Message</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                    <div class="contact-info">
                        
                    </div>
                </div>

                <span class="close-btn sidebar-modal-close-btn"><i class="fas fa-times"></i></span>
            </div>
        </div>
        <!-- End Sidebar Modal -->

        <style type="text/css">
        	section{
				padding: 60px 0;
			}

			#accordion-style-1 h1,
			#accordion-style-1 a{
			    color:#007b5e;
			}
			#accordion-style-1 .btn-link {
			    font-weight: 400;
			    color: #007b5e;
			    background-color: transparent;
			    text-decoration: none !important;
			    font-size: 16px;
			    font-weight: bold;
				padding-left: 25px;
			}

			#accordion-style-1 .card-body {
			    border-top: 2px solid #007b5e;
			}

			#accordion-style-1 .card-header .btn.collapsed .fa.main{
				display:none;
			}

			#accordion-style-1 .card-header .btn .fa.main{
				background: #007b5e;
			    padding: 13px 11px;
			    color: #ffffff;
			    width: 35px;
			    height: 41px;
			    position: absolute;
			    left: -1px;
			    top: 10px;
			    border-top-right-radius: 7px;
			    border-bottom-right-radius: 7px;
				display:block;
			}
        </style>
        
        <!-- jQuery Min JS -->
        <script src="/static/soon/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="/static/soon/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="/static/soon/js/bootstrap.min.js"></script>
        <!-- WOW Min JS -->
        <script src="/static/soon/js/wow.min.js"></script>
        <!-- AjaxChimp Min JS -->
        <script src="/static/soon/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/static/soon/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="/static/soon/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="/static/soon/js/main.js"></script>
    </body>
</html>