{% extends 'app.html' %}
{% block title %}Our Team - DAP | Payment made safer{% endblock %}
{% block meta %}
    <!-- Primary Meta Tags -->
    <meta name="title" content="Our Team - DAP | Payment made safer">
    <meta name="description" content="DAP helps you send and receive payment with trust, earn and expand your business in Africa with confidence.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.path }}">
    <meta property="og:title" content="Our Team - DAP | Payment made safer">
    <meta property="og:description" content="DAP helps you send and receive payment with trust, earn and expand your business in Africa with confidence.">
    <meta property="og:image" content="/static/img/dap-logo-2.svg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.path }}">
    <meta property="twitter:title" content="Our Team - DAP | Payment made safer">
    <meta property="twitter:description" content="DAP helps you send and receive payment with trust, earn and expand your business in Africa with confidence.">
    <meta property="twitter:image" content="/static/img/dap-logo-2.svg">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N3Z6WXZ1J8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-N3Z6WXZ1J8');
    </script>
    {% endblock %}
{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="7">
    <div class="background-image-wraper" style="background: url('/static/img/group17.1.png');"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-dark pt-4">
                    <h1 class="text-dark mb-0">Our Team</h1>
                    <p class="lead">Rapidiously deploy world-class platforms whereas collaborative interfaces. Phosfluorescently facilitate corporate innovation via excellent web <services></services> technically sound. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Our Team</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<!--our team section start-->
<section class="team-two-section ptb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-1.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Jonpaul Opara</h5>
                        <span>CEO</span>
                        <p class="mt-3">Respect the gift in.every man even if hate him </p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-2.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Ohunayo Gege</h5>
                        <span>Web Developer</span>
                        <p class="mt-3">The greatest gift in life is doing what people think you cannot do.</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="https://facebook.com/officialgege" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="https://twitter.com/ohunayogege" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="https://github.com/ohunayogege" target="_blank"><i class="fab fa-github"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="https://linkedin.com/in/ohunayogege" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-3.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Aliyu Isah</h5>
                        <span>Chatbot Development Team/Dap Chatbot Developer</span>
                        <p class="mt-3">I wake up every morning and think to myself, "how far can I push to develop myself in the next 24 hours".</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-4.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Anel Onuoha</h5>
                        <span>CTO</span>
                        <p class="mt-3">Simplicity is the best complexity. </p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-5.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Eguakhide Victor</h5>
                        <span>UI Designer/ UX Researcher </span>
                        <p class="mt-3">"What you do makes a difference, and you have to decide what kind of difference you want to make." Jane Goodall</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-6.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Anamachonye Kenneth Chinedu</h5>
                        <span>Marketing </span>
                        <p class="mt-3">The future is today</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-7.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Mustapha Abdullahi Jimoh</h5>
                        <span>Chatbot Developer</span>
                        <p class="mt-3">"whoever strives shall succeed"</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--our team section end-->
{% endblock %}
