{% extends 'app.html' %}

{% block body %}
<!--page header section start-->
<section class="page-header-section ptb-100 bg-image" image-overlay="8">
    <div class="background-image-wraper" style="background: url('/static/img/slider-bg-1.jpg'); opacity: 1;"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 col-lg-7">
                <div class="page-header-content text-white pt-4">
                    <h1 class="text-white mb-0">Our Team</h1>
                    <p class="lead">Rapidiously deploy world-class platforms whereas collaborative interfaces. Phosfluorescently facilitate corporate innovation via excellent web <services></services> technically sound. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--page header section end-->

<!--breadcrumb section start-->
<div class="breadcrumb-bar gray-light-bg border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="custom-breadcrumb">
                    <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Our Team</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb section end-->

<!--our team section start-->
<section class="team-two-section ptb-100 ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-1.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Richard Ford</h5>
                        <span>Instructor of Mathematics</span>
                        <p class="mt-3">Authoritatively engage leading-edge processes tactical capital </p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-2.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Kely Roy</h5>
                        <span>Lead Designer</span>
                        <p class="mt-3">Monotonectally engage sticky collaborative markets synergistically</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-3.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Gerald Nichols</h5>
                        <span>Managing Director</span>
                        <p class="mt-3">Assertively procrastinate standardized whereas technically sound</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-4.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Gerald Nichols</h5>
                        <span>Team Manager</span>
                        <p class="mt-3">Synergistically actualize out the-box technologies before parallel process</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-5.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Ford Richard</h5>
                        <span>Instructor of Mathematics</span>
                        <p class="mt-3">Authoritatively engage tactical capital leading-edge processes</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-6.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Roy Kely</h5>
                        <span>Lead Designer</span>
                        <p class="mt-3">Monotonectally engage sticky markets synergistically collaborative</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-7.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Nichols Joe</h5>
                        <span>Managing Director</span>
                        <p class="mt-3">Assertively procrastinate technically sound standardized whereas</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-team-wrap bg-white text-center border rounded p-4 my-3">
                    <img src="/static/img/team/team-member-8.png" alt="team image" width="120" class="img-fluid m-auto pb-4">
                    <div class="team-content">
                        <h5 class="mb-0">Gerald Din</h5>
                        <span>Team Manager</span>
                        <p class="mt-3">Synergistically actualize out the-box technologies before process parallel</p>
                        <ul class="list-inline social-list-default social-color icon-hover-top-bottom">
                            <li class="list-inline-item">
                                <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="dribbble" href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a class="linkedin" href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--our team section end-->
{% endblock %}
